<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Visual</title>
        <link rel="stylesheet" href="../statics/styles/admin_style.css">
    </head>
    <body>
        <nav>
            <div class="logos_izquierda">
                <img src="../statics/img/logos/logo_unam.png" alt="UNAM">
                <img src="../statics/img/logos/logo_p6.png" alt="ENP6">
            </div>
            <div class="logo_derecha">
                <img src="../statics/img/logos/logo_ete.png" alt="ETE">
            </div>
        </nav>

        <header>
            <h1>Administrador > Grupo 61B</h1>
        </header>

        <div class="contenido_principal">

            <div class="tarjeta_profesor">
                <img src="../statics/img/iconos/icono_usuario.png" alt="usuario">
                <h2>Nombre del profesor</h2>
                <p>Horario: Lunes-Viernes 12:00 a 13:40</p>
                <p>Salón: LACEC</p>
            </div>

            <div class="seccion_alumno">
                <div class="fila_alumno">
                    <span>Nombre</span>
                    <span>Grupo</span>
                    <span>No. Cuenta</span>
                    <span>🗑️</span>
                </div>
                <div class="fila_alumno">
                    <span>Nombre</span>
                    <span>Grupo</span>
                    <span>No. Cuenta</span>
                    <span>🗑️</span>
                </div>
                <div class="fila_alumno fila_activa">
                    <span>Nombre</span>
                    <span>Grupo</span>
                    <span>No. Cuenta</span>
                    <span>🗑️</span>
                </div>
                <div class="boton_agregar">
                    <span>➕ Agregar miembros</span>
                </div>
            </div>

        </div>
    </body>
</html>