<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_grupos</title>
    <link rel="stylesheet" href="../statics/styles/alumno_tareas.css"
</head>
<body>
    <nav>
        <img src="../statics/img/unam.png" alt="Universidad Nacional Autonoma De Mexico" id="unam">
        <img src="../statics/img/enp.svg" alt="Escuela Nacional Preparatoria 6">
        <img src="../statics/img/ete.png" alt="Estudios Tecnicos Especializados" id="ete">
    </nav>
    <div id="ruta">
        <p><strong>ALUMNO>TAREAS</strong></p>
    </div>
    <aside>
        <div>
            <div>A</div>
            <p>Tarea 1: Descripcion</p>
        </div>
        <div>
            <div>A</div>
            <p>Tarea 2: Descripcion</p>
        </div>
        <div>
            <div>A</div>
            <p>Tarea 2: Descripcion</p>
        </div>
    </aside>
    <div> Calificacion 0/100</div>
    <h1>Tarea 1</h1>
    <p>Descripcion de la tarea</p>

    <div class="grupo">
        <button class="boton">Enviar Asignacion</button>
        <button class="boton">Adjuntar Archivos</button>
        <!-- Boton de adjuntar fotos por si es posible -->
        <button></button>
    </div>
</body>
</html>