<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante</title>
    <link rel="stylesheet" href="../statics/styles/alumno_tareas.css">
</head>
<body>
    <header class="logos">
        <div class="img-logos">
            <img id="unam"src="../statics/img/logos/unam.jpg">
            <img src="../statics/img/logos/enp.jpg">
            <img id="ete"src="../statics/img/logos/ete.png">
            <div class="usuario">
                <h1>Alumnos</h1>
            </div>
            <section class="seccion">Tareas</section>
            </div>
    </header>
<body>
    <aside class="datos">
        <h2>Tareas</h2>
        <button class="boton_tarea">TAREA 1: DESCRIPCIÓN</button>
        <button class="boton_tarea">TAREA 2: DESCRIPCIÓN</button>
    </aside>
    <h2 class="tarea">Tarea 1:</h2>
    <img id ="logo_tarea" src = "../statics/img/iconos/tarea_icono.png">
    <p>Descripción de la tarea</p>
    <div class="grupo">
        <button class="boton">Enviar Asignacion</button>
        <form>
            <label class="boton" id="imgs" for ="adjuntar">Adjuntar archivos e imágenes:</label>
            <input  class = "boton" type="file" id="Agregar" name="alumno_tarea"><br>
        </form>

    </div>
</body>
</html>