<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante</title>
    <link rel="stylesheet" href="../statics/styles/estudiante.css">
</head>
<body>
    <header class="logos">
        <div class="img-logos">
            <img id="unam"src="../statics/img/logos/unam.jpg">
            <img src="../statics/img/logos/enp.jpg">
            <img id="ete"src="../statics/img/logos/ete.png">
            <div class="usuario">
                <h1>Alumnos</h1>
            </div>
            <section class="seccion">TAREAS</section>
        </div>
    </header>
    <main>
    <aside class="datos">
        <h2>Bienvenido</h2>
        <img class="img-usuario" src="../statics/img/iconos/usuario.png">
        <form class="formulario">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
            <label class="grupo"for="grupo">Grupo:</label>
            <input type="text" id="grupo" name="grupo">
        </form>
    </aside>
    <section>
        <div>
            <div id="pendientes"> Tareas pendientes
                <list class="listado1">
                    <ol id="pendiente">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </list>
            </div>
            <div id="realizadas"> Tareas entregadas
                <list class="listado2">
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </list>

        </div>
    </section>


    </main>