<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante</title>
    <link rel="stylesheet" href="../statics/styles/tipo_apren.css">
</head>
<body>
    <header class="logos">
        <div class="img-logos">
            <img id="unam"src="../statics/img/logos/unam.jpg">
            <img src="../statics/img/logos/enp.jpg">
            <img id="ete"src="../statics/img/logos/ete.png">
            <div class="usuario">
                <h1>Alumnos</h1>
            </div>
            <section class="seccion">Tipos de aprendizaje</section>
            </div>
    </header>
<main>
    <p>Resuelve: </p>
    <div class="aprendizaje_visual">Aprendizaje visual
    <form class="preguntas">
        <ol>
            <li>
                <label>¿Se te facilita el trabajo con colores (marcatextos, plumas de colores etc) a la hora de trabajar con lecuras o materiales de estudio?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>   
            <li>
                <label>¿Puedes recordar imágenes con facilidad?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Prefieres un método más organizado para poder estudiar (mapas mentales, pictogramas, diagramas etc.) en lugar de leer o escribir textos largos?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Encuentras fácil la memorización de patrones o secuencias?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Puedes encontrar relaciones entre conceptos relativamente rápido (sucesiones, relación de columnas etc)?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Tienes buena imaginación?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Te cuesta recordar conceptos o expresarte de forma verbal a la hora de exponer o hablar en público?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
        </ol>
        </form>
    </div>
    <div class ="aprendizaje_auditivo">Aprendizaje auditivo: 
        <form class="preguntas">
            <ol>
                <li>
                <label>¿Se te facilita estudiar idiomas?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Te es más fácil comprender un texto cuando lees en voz alta?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Se te facilita entender y ejecutar diferentes tipos de instrucciones?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Eres hábil para hablar en público?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
            </ol>
        </form>
    </div>
    <div class ="Aprendizaje_kinestésico"> Aprendizaje kinestéscio
    <form class="preguntas">
        <ol>
            <li>
                <label>¿Tocas algún instrumento?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Te es difícil aprender algo nuevo cuando se enseña demasiado rápido algún tema?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Te distraes fácilmente durante las clases?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
            <li>
                <label>¿Te aburres fácilmente estando sentado mucho tiempo o sin alguna actividad en específico?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
                        <li>
                <label>¿Sueles moverte constantemente cuando estudias (mover repetidamente tus piernas, camiar, explicar con las manos etc)?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
                        <li>
                <label>¿Se te facilita desarrollar un proyecto cuando implica trabajo en equipo?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
                        <li>
                <label>¿Te es más fácil entender algún tema mediante la práctica y la experimentación?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
            </li>
        </ol>
    </form>
    </div>
    <div class="aprendizaje_lecto"> Aprendzaje Lecto-escritura 
        <form class = "preguntas">
            <ol>
                <li>
                <label>¿Sueles adaptarte con facilidad al liderar a un equipo?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Sueles leer muy frecuentemente?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Se te facilita aprender por tu cuenta?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Sueles subrayar algún texto frecuentemente?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
                <li>
                <label>¿Encuentras fácil memorizar algún tema escribiéndolo varias veces?</label><br>

                <input type="radio" id="si" name="pregunta" value="Si">
                <label for="si">Sí</label>

                <input type="radio" id="no" name="pregunta" value="No">
                <label for="no">No</label>

                <input type="radio" id="masomenos" name="pregunta" value="Mas o menos">
                <label for="masomenos">Más o menos</label>
                </li>
            </ol>
        </form>
    </div>
</main>
/*
    respuestas: si = 3pts
                no = 1pts
                mas o menos = 2pts
*/